In [1]:
import pandas as pd
import numpy as np

### Objects passed to the function are Series objects whose index is either the DataFrame’s index (axis=0) or the DataFrame’s columns (axis=1). 
#### By default (result_type=None), the final return type is inferred from the return type of the applied function. Otherwise, it depends on the result_type argument. 
#### " result_type " acts only when axis = 1 (columns)

### applymap -> elementwise!

In [4]:
df = pd.DataFrame([[1,2.1], [2.22,3.231]]); df

      0      1
0  1.00  2.100
1  2.22  3.231

In [5]:
df.applymap(lambda x:x**2) # this is the same as df ** 2

        0          1
0  1.0000   4.410000
1  4.9284  10.439361

In [7]:
df2 = pd.DataFrame([['California', 'Texas'], ['Tokyo', 'Fukuoka']]).applymap(lambda x : x == 'Texas'); df2

       0      1
0  False   True
1  False  False

In [80]:
data = pd.DataFrame([['This is California', '12, 30','2020/02/25', 'Cloudy'], 
                     ['Tokyo', '134, 56','2020/02/23', 'Sunny']],
                   columns=['region', 'lat, alt', 'date', 'weather']); data

               region lat, alt        date weather
0  This is California   12, 30  2020/02/25  Cloudy
1               Tokyo  134, 56  2020/02/23   Sunny

In [42]:
data.apply(lambda x: print(x), axis=1)

region      California
lat, alt        12, 30
date        2020/02/25
weather         Cloudy
Name: 0, dtype: object
region           Tokyo
lat, alt       134, 56
date        2020/02/23
weather          Sunny
Name: 1, dtype: object

0    None
1    None
dtype: object

In [15]:
data.apply(lambda x: print(x)) #カラムごと精査 # axis=0 でindex

0    California
1         Tokyo
Name: region, dtype: object
0     12, 30
1    134, 56
Name: lat, alt, dtype: object
0    2020/02/25
1    2020/02/23
Name: date, dtype: object
0    Cloudy
1     Sunny
Name: weather, dtype: object

region      None
lat, alt    None
date        None
weather     None
dtype: object

In [103]:
def logic(data):
    for kywd in ['Sunny', 'Rain']:
        print(data+'++') #渡されるときは一つずつ
        return True if kywd in data else False
mask = data.loc[:, 'weather'].apply(logic); mask

Cloudy++
Sunny++

0    False
1     True
Name: weather, dtype: bool

In [48]:
data[[False, True]]

  region lat, alt        date weather
1  Tokyo  134, 56  2020/02/23   Sunny

In [51]:
data[mask]

  region lat, alt        date weather
1  Tokyo  134, 56  2020/02/23   Sunny

In [75]:
data.apply(lambda x: print(x+'++'), result_type='broadcast') # lambdaに渡される x はseriesオブジェクト.

0    California++
1         Tokyo++
Name: region, dtype: object
0     12, 30++
1    134, 56++
Name: lat, alt, dtype: object
0    2020/02/25++
1    2020/02/23++
Name: date, dtype: object
0    Cloudy++
1     Sunny++
Name: weather, dtype: object

  region lat, alt  date weather
0   None     None  None    None
1   None     None  None    None

In [101]:
import re
def rgx(data):
    m = re.search('California', str(data)) #contentにCalifornia が含まれれば、幸せになる.
    return True if m is not None else False
mask2 = data.apply(rgx, axis = 1)

In [102]:
data[mask2]

               region lat, alt        date weather
0  This is California   12, 30  2020/02/25  Cloudy